<% title @page.name, false %>

<ul id="menu">
  <% Page.roots.each do |page| %>
      <li><%= link_to page.name, page, class: ('active' if @page.root == page) %></li>
  <% end %>
</ul>

<div id="submenu">
  <%= render 'submenu_pages', pages: @page.root.descendants
  #.arrange
  %>
</div>


<div id="breadcrumbs">
  <% @page.ancestors.each do |page| %>
      <%= link_to page.name, page %> &gt;
  <% end %>
</div>

<h1><span id="page_name" data-mercury="full"><%= raw @page.name %></span></h1>

<div id="page_content" data-mercury="full">
  <%= #simple_format
      #raw textilize(@page.content)
      #raw RedCloth.new(@page.content).to_html
      #raw RedCloth.new(Liquid::Template.parse(@page.content).render('page' => @page, :filters => [LiquidFilters])).to_html
      markdown(@page.content)
  %>
</div>


<%= link_to 'Edit', edit_page_path(@page) %>
<%= link_to "Edit Page with mercury", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_page_path(@page)} %>
<%= link_to 'Back', pages_path %>
